*{
    padding: 0%;
    margin: 0%;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    gap: 20px;
}

.titulo{
    text-align: center;
    margin-bottom: 15px;
}

.infoJuego{
    width: 800px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.infoJuego h2 {
    text-align: center;
}

.inputLetra{
    width: 60%;
    padding: 5px;
    position: relative;
    left: 20%;
}
::placeholder{
    text-align: center;
}

.boton{
    width: 20%;
    padding: 10px 15px;
    background-color: chartreuse;
    color:black;
    font-size: 15px;
    border-radius: 10px;
    position: relative;
    left: 40%;
}

.contJuego{
    display: flex;
    gap: 20px;
    width: 80%;
}

.animacion{
    background-color: blueviolet;
    width: 800px;
    border-radius: 10px;
    border: 4px solid #ccc;
}

#palabra{
    text-align: center;
    font-size: 40px;
}