*{
    padding: 0%;
    margin: 0%;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    gap: 20px;
}

.titulo{
    text-align: center;
    margin-bottom: 25px;
    background-color: antiquewhite;
    padding: 10px 20px;
    border-radius: 10px;
}

.infoJuego{
    width: 800px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.infoJuego h2 {
    text-align: center;
}

.inputLetra{
    width: 60%;
    padding: 5px;
    position: relative;
    left: 20%;
}
::placeholder{
    text-align: center;
}

.boton{
    width: 20%;
    padding: 10px 15px;
    background-color: chartreuse;
    color:black;
    font-size: 15px;
    border-radius: 10px;
    position: relative;
    left: 40%;
}

.contJuego{
    display: flex;
    gap: 20px;
    width: 80%;
}

.animacion{
    background-color: rgb(43, 226, 119);
    width: 800px;
    border-radius: 10px;
    border: 6px solid black;
}

#palabra{
    text-align: center;
    font-size: 50px;
    position: relative;
    top: -30px;
}

/*  posicion del avatar del juego */

.base1{
    position: relative;
    top: 202px;
    left: 70px;
    transform: rotate(30deg);
    width: 90px;
}

.base2{
    position: relative;
    top: 202px;
    left: 3px;
    transform: rotate(-30deg);
    width: 90px;
}

.baseLarga1{
    position: relative;
    top: 138px;
    left: -104px;
    width: 90px;
}

.baseLarga2{
    position: relative;
    top: 91px;
    left: -198px;
    width: 90px;
}

.baseLarga3{
    position: relative;
    top: 50px;
    left: -247px;
    width: 90px;
    transform: rotate(90deg);
}

.baseLarga4{
    position: relative;
    top: -44px;
    left: 190px;
    width: 90px;
    transform: rotate(90deg);
}

.base3{
    position: relative;
    transform: rotate(40deg);
    top: -35px;
    left: 18px;
}

.soga{
    position: relative;
    left: 75px;
    top: -45px;
}

/* cuerpo del avatar */

.cabeza{
    position: relative;
    left: -8px;
    top: -7px;
    transform: rotate(40deg);
}

.color{
    position: relative;
    height: 47px;
    width: 47px;
    background-color: white;
    border-radius: 50%;
    left: 245px;
    top: -75px;
}

.torzo{
    position: relative;
    width: 70px;
    left: 235px;
    top: -80px;
}

.brazoIz{
    position: relative;
    left: 152px;
    top: -88px;
    transform: rotate(40deg);
}

.brazoDe{
    position: relative;
    left: 109px;
    top: -87px;
    transform: rotate(-40deg);
}

.pieIz{
    position: relative;
    left: 20px;
    top: -42px;
    transform: rotate(25deg);
}

.pieDe{
    position: relative;
    left: -32px;
    top: -42px;
    transform: rotate(-25deg);
}

#video-fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 
  }